.legends-info {
    width: 30%;
    margin-top: 5rem;
    margin-left: 2.5rem;
    text-align: center;
}

.legends-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    margin-right: 3.5rem;
}

.img-info-item{
    justify-content: right;
}


#fg-item {
    background: rgb(80, 80, 80);
}

#cv-item {
    background-color: rgb(251, 255, 0);
}

#grb-item {
    background-color: rgb(255, 16, 16);
}

#dl-item {
    background-color: chartreuse;
}

#gl-item {
    background-color: chocolate;
}

#dr-item {
    background-color: bisque;
}