.map-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    height: 20em;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #b6b4b4;
}

.legends-info {
    width: 30%;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    text-align: center;
}

.legends-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.img-info-item {
    background-color: #555;
}